[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
python-dotenv = "==0.20.0"
quantstats = "==0.0.58"
pyjwt = "==2.6.0"
fastapi = "==0.111.0"
uvicorn = "==0.29.0"
schedule = "==1.2.1"
winwifi = "*"
ib-insync = "*"
cryptography = "*"
ipython = "*"
metatrader5 = "*"
numpy = "<2.0"
ipykernel = "*"
sse-starlette = "*"

[dev-packages]
ipykernel = "*"

[requires]
python_version = "3.10"
