[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
python-dotenv = "*"
pyjwt = "==2.6.0"
fastapi = "==0.111.0"
uvicorn = "==0.29.0"
schedule = "==1.2.1"
winwifi = "*"
ib-insync = "*"
cryptography = "*"
ipython = "*"

[dev-packages]

[requires]
python_version = "3.10"
