[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
python-dotenv = "*"
quantstats = "*"
pyjwt = "*"
fastapi = "*"
uvicorn = "*"
schedule = "*"
winwifi = "*"
ib-insync = "*"
cryptography = "*"
ipython = "*"
numpy = "*"
ipykernel = "*"
sse-starlette = "*"
metatrader5 = "*"
pywinauto = "*"
pyqt5 = "*"

[dev-packages]

[requires]
python_version = "3.13"
